RewriteEngine On

# Redirect requests with .html to clean URLs
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [L]

# Clean URLs without .html
RewriteRule ^games/?$ index.html [L]
RewriteRule ^apps/?$ apps.html [L]
RewriteRule ^settings/?$ settings.html [L]
